html{
  --background-color: #fff4ed;
  --foreground-color: #240909;
  --text-color-dark: #052840;
  --text-color: #02395E;
  --text-color-light: #999;
  --accent-color-dark: #940f0f;
  --accent-color: #fd4a4a;
  --accent-color-light: rgb(0 22 216 / 10%);
  --overlay-color: rgba(255, 255, 255, .8);
  --overlay-edge-color: rgba(0, 0, 0, .08)
}

.dark-only{
  display: none;
}

.display-photo{
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

@media (prefers-color-scheme: dark){
  html{
      --background-color: #19182b;
      --foreground-color: rgba(0, 0, 0, 0.3);
      --text-color-dark: rgba(255, 255, 255, 1);
      --text-color: rgba(255, 255, 255, .85);
      --text-color-light: rgba(255, 255, 255, .7);
      --accent-color-dark: #b91d1d;
      --accent-color: #ff4343;
      --accent-color-light: #ff78781a;
      --overlay-color: rgba(0, 0, 0, .2);
      --overlay-edge-color: rgba(255, 255, 255, .2)
  }

  .dark-only{
    display: block;
}


.light-only{
  display: none !important;
}
}


.mobile-only{
display:none
}
@media screen and (max-width: 600px){

.mobile-only{
    display:flex
}

@media (prefers-color-scheme: light){
  .dark-only{
    display: none;
}
}

.desktop-only{
    display:none
}
}



blockquote,body,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,ol,p,pre,ul{
margin:0;
padding:0
}
sup{
padding:1px 4px;
background-color:var(--accent-color-light);
border-radius:3px;
font-weight:bold;
display:inline-block;
vertical-align:baseline
}
input:focus,select:focus,textarea:focus,[contenteditable]{
outline:none
}
body{
font:400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
color:var(--text-color);
background-color:var(--background-color);
-webkit-text-size-adjust:100%;
font-feature-settings:'salt' on, 'ss01' on, 'ss02' on, 'ss06' on, 'ss07' on;
font-kerning:normal;
display:flex;
min-height:100vh;
flex-direction:column
}
.tag{
font-size:11px;
color:var(--accent-color-dark);
background:var(--accent-color-light);
border-radius:4px;
margin:0 0 0 12px;
padding:4px 8px 4px 8px;
transition:0.2s;
font-weight:600;
text-transform:uppercase;
display:inline-block
}
a:visited.tag{
color:var(--accent-color-dark);
background:255,255,255,0.1
}
.tag::before{
content:" • ";
position:absolute;
color:var(--accent-color);
padding-right:33px;
transform:translate(-50%, -5%)
}
.tag:hover,a:visited.tag:hover{
color:var(--accent-color);
background-color:var(--accent-color-light)
}
.sub-title{
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-size:20px;
color:var(--text-color);
padding: 8px 0px;
}
main{
display:block;
margin-top:60px
}
@media screen and (max-width: 600px){
main{
    margin-top:20px
}
}
img{
border-radius:4px;
width:100%;
vertical-align:middle;
margin:16px 0 8px
}
.post img{
transition:0.1s
}
.post img:hover{
margin-left:auto;
margin-right:auto
}
iframe,video{
width:100%;
vertical-align:middle;
margin:16px 0 8px
}
time{
display:inline
}
figure>img{
display:block
}
figcaption{
font-size:14px
}
ol,ul{
margin-left:16px
}
li>ul,li>ol{
margin-bottom:0
}
a{
color:var(--accent-color);
text-decoration:none
}
a:visited{
color:var(--accent-color-dark)
}
a:hover{
color:var(--accent-color-dark);
text-decoration:none
}
.social-media-list a:hover{
text-decoration:none
}
.social-media-list a:hover .username{
text-decoration:underline
}
blockquote{
color:var(--accent-color-dark);
border-left:4px solid #fff;
padding:8px 16px;
font-size:18px;
border-left:3px solid var(--accent-color);
margin-top:16px;
margin-bottom:16px !important;
background-color:var(--accent-color-light)
}
blockquote>:last-child{
margin-bottom:0
}
blockquote h5{
margin-top:-6px
}
code,pre{
font-size:15px;
border-radius:3px;
background-color:#d5c0fe;
color:var(--text-color-dark)
}
code{
padding:1px 5px
}
pre{
padding:8px 12px;
overflow-x:auto
}
pre>code{
border:0;
padding-right:0;
padding-left:0
}
.wrapper{
z-index: 2;
max-width:720px;
margin-right:auto;
margin-left:auto;
padding-right:32px;
padding-left:32px
}
@media screen and (min-width: 800px){
.wrapper{
    padding-right:64px;
    padding-left:64px
}
}
.wrapper:after,.footer-col-wrapper:after{
content:"";
display:table;
clear:both
}
.orange{
color:#f66a0a
}
.red{
color:#f86b6b
}
.grey{
color:#fdfdfe
}
.svg-icon{
width:24px;
height:24px;
display:inline-block;
border-radius:4px;
fill:currentColor;
padding:8px 0 0 8px;
vertical-align:text-bottom
}
table{
margin-bottom:16px;
width:100%;
text-align:left;
color:var(--text-color);
border-collapse:collapse;
border:1px solid var(--accent-color-light)
}
table tr:nth-child(even){
background-color:var(--accent-color-light)
}
table td,table th{
padding:5.3333333333px 8px
}
table th{
color:var(--background-color);
background-color:var(--accent-color-dark);
border:1px solid var(--accent-color-light);
border-bottom-color:#e0dee3
}
table td{
border:1px solid var(--accent-color)
}
Headings h1,h2,h3,h4,h5{
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-weight:700;
color:var(--text-color-dark)
}
h2{
margin-top:1em;
margin-bottom:0.2em
}
h5{
color:var(--text-color);
font-weight:700;
margin-bottom:8px;
text-transform:uppercase;
letter-spacing:.02em;
font-size:14.4px
}
@media screen and (min-width: 800px){
h5{
    font-size:14.4px
}
}
h5 a{
transition:0.1s;
color:var(--accent-color)
}
h5 a:visited{
color:var(--accent-color)
}
h5 a:hover{
color:var(--accent-color-dark)
}
.post-content li{
transform:translateX(-16px)
}
.post-content li::marker{
margin:50px;
color:var(--accent-color)
}
.highlight,blockquote,dl,figure,li,ol,p,pre,ul{
margin-bottom:8px
}
.post-content h1,.post-title{
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-weight:700;
margin-top:0.5em;
margin-bottom:0.25em;
letter-spacing:0 !important;
font-size:36px;
letter-spacing:-1px;
line-height:1;
color:var(--text-color-dark)
}
@media screen and (min-width: 800px){
.post-content h1,.post-title{
    font-size:36px
}
}
.post-content a{
border-bottom:2px solid var(--background-color);
transition:.2s
}
.post-content a:hover{
color:var(--accent-color);
border-bottom:2px solid var(--accent-color)
}
.post-content h2{
margin-top:18px;
font-size:28px
}
@media screen and (min-width: 800px){
.post-content h2{
    font-size:32px
}
}
.post-content h3{
font-weight:700;
margin-bottom:4px;
margin-top:20px;
font-size:22px
}
@media screen and (min-width: 800px){
.post-content h3{
    font-size:26px
}
}
.post-content h4{
font-weight:700;
margin-bottom:4px;
margin-top:18px;
font-size:18px
}
@media screen and (min-width: 800px){
.post-content h4{
    font-size:19.2px
}
}
.post-content h6{
font-weight:400;
margin-bottom:32px;
border-left:3px solid var(--accent-color);
padding-left:8px;
line-height:1.6;
color:var(--accent-color);
font-size:12.8px
}
@media screen and (min-width: 800px){
.post-content h6{
    font-size:14.4px
}
.post-content h6 strong{
    color:var(--text-color-dark)
}
}

.loginbutton{
font-weight: 500;
font-size: 16px;
text-align: center;
padding: 10px 20px;
border-radius: 40px;
background-color:var(--overlay-color);
border: 1px solid var(--overlay-edge-color);
color:var(--text-color-dark);
opacity: .7;
transition: .2s;
margin-left: -4px;
margin-right: 8px;
}

.loginbutton:hover{
opacity: 1;
transform: translateY(-2px);
}

.redbutton{
color: var(--background-color);
background-color: var(--delete-red);
border: 1px solid var(--overlay-edge-color);
}

.hidden-article{
display: none;
opacity: .5 !important;
}

.vertical{
padding-left:12px;
display: flex;
flex-direction: column;
}

.usercontainer{
display:flex;
width:fit-content;
flex-direction:row;
align-items:center;
background-color:var(--overlay-color);
border: 1px solid var(--overlay-edge-color);
border-radius:36px;
padding:6px 20px 6px 6px
}
.displaynone{
display:none
}
.username{
color:var(--text-color-dark); 
}

.userstatus{
font-size: 12px;
font-weight: 500;
color:var(--accent-color-dark); 
}

.userphoto{
width:36px;
height:36px;
margin:0;
border-radius:20px;
border-radius:36px
}
.loader{
border:16px solid #f3f3f3;
border-top:16px solid #3498db;
border-radius:50%;
width:60px;
height:60px;
animation:spin 2s linear infinite;
position:absolute;
top:50%;
right:50%;
transform:translate(50%, -50%)
}
@keyframes spin{
0%{
    transform:rotate(0deg)
}
100%{
    transform:rotate(360deg)
}
}

.animated {
-webkit-animation-duration: .5s;
animation-duration: .5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

.animated-slow{
-webkit-animation-duration: 1.5s;
animation-duration: 1.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
0% {
   opacity: 0;
   -webkit-transform: translateY(20px);
}
80% {
   opacity: 1;
   -webkit-transform: translateY(-3px);
}
100% {
  opacity: 1;
  -webkit-transform: translateY(0);
}
}

@keyframes fadeInUp {
0% {
   opacity: 0;
   transform: translateY(20px);
}
80% {
  opacity: .8;
  transform: translateY(-3px);
}
100% {
 opacity: 1;
 transform: translateY(0);
}
}

.fadeInUp {
-webkit-animation-name: fadeInUp;
animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
0% {
   opacity: 0;
}
100% {
   opacity: 1;
}
}

@keyframes fadeIn {
0% {
   opacity: 0;
}
100% {
   opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.tabswitcher{
display:flex;
position:sticky;
bottom:0;
left:0;
right:0;
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
background:var(--overlay-color);
border-top:1px solid var(--overlay-edge-color);
color:var(--text-color-light)
}
.tab{
display:flex;
flex-grow:1;
flex-direction:column
}
.tab-img{
height:32px;
width:32px;
align-self:center;
margin-top:12px
}
.tab-img-inactive{
filter:grayscale(1);
-webkit-filter:grayscale(1);
opacity:50%
}
.tab-text{
font-weight:600;
font-size:10px;
text-align:center;
color:var(--text-color-light)
}

.footer-img{
margin: -180px 0 0 0;
z-index: -1;
}


.site-header{
position:fixed;
right:0;
left:0;
min-height:60px;
line-height:60px;
background:var(--overlay-color);
border-bottom:1px solid var(--overlay-edge-color);
backdrop-filter:blur(10px);
-webkit-backdrop-filter:blur(10px);
z-index:10
}
@media screen and (max-width: 600px){
.site-header{
    position:relative
}
}
.site-title{
color:var(--text-color-dark);
font-size:20px;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
font-weight:800;
letter-spacing:-0.02em;
margin-bottom:0;
float:left;
vertical-align:middle
}
@media screen and (max-width: 600px){
.site-title{
    padding-right:45px
}
}
.site-title,.site-title:visited{
color:var(--text-color-dark)
}
.site-nav{
position:absolute;
right:8px;
background-color:var(--background-color);
border-radius:24px;
text-align:right
}
.site-nav .nav-trigger{
display:none
}
.site-nav .menu-icon{
float:right;
width:36px;
height:26px;
line-height:0;
padding-top:10px;
text-align:center
}
.site-nav .menu-icon>svg path{
fill:var(--accent-color-light)
}
.site-nav label[for="nav-trigger"]{
display:block;
float:right;
width:36px;
height:36px;
z-index:2;
cursor:pointer
}
.site-nav input ~ .trigger{
clear:both;
display:none
}
.site-nav input:checked ~ .trigger{
display:block;
padding-bottom:5px
}
.site-nav .page-link{
color:var(--text-color);
line-height:1.5;
display:block;
padding:5px 10px;
margin-left:20px
}
.site-nav .page-link:not(:last-child){
margin-right:0
}
@media screen and (min-width: 600px){
.site-nav{
    position:static;
    float:right;
    border:none;
    background-color:inherit
}
.site-nav label[for="nav-trigger"]{
    display:none
}
.site-nav .menu-icon{
    display:none
}
.site-nav input ~ .trigger{
    display:block
}
.site-nav .page-link{
    display:inline;
    padding:0;
    margin-left:auto
}
.site-nav .page-link:not(:last-child){
    margin-right:20px
}
}
.site-footer{
padding:16px 0;
background:var(--overlay-color);
border-top:1px solid var(--overlay-edge-color);
color:var(--text-color-light)
}
.footer-heading{
color:var(--text-color);
font-size:18px;
margin-bottom:8px
}
.contact-list,.social-media-list{
list-style:none;
margin-left:0
}
.footer-col-wrapper{
font-size:15px;
margin-left:-8px
}
.footer-col{
width:-webkit-calc(100% - (16px / 2));
width:calc(100% - (16px / 2));
margin-bottom:8px;
padding-left:8px
}
.footer-col-1,.footer-col-2{
width:-webkit-calc(50% - (16px / 2));
width:calc(50% - (16px / 2))
}
.footer-col-3{
width:-webkit-calc(100% - (16px / 2));
width:calc(100% - (16px / 2))
}
@media screen and (min-width: 800px){
.footer-col-1{
    width:-webkit-calc(35% - (16px / 2));
    width:calc(35% - (16px / 2))
}
.footer-col-2{
    width:-webkit-calc(20% - (16px / 2));
    width:calc(20% - (16px / 2))
}
.footer-col-3{
    width:-webkit-calc(45% - (16px / 2));
    width:calc(45% - (16px / 2))
}
}
@media screen and (min-width: 600px){
.footer-col{
    float:left
}
}
.intro{
padding:32px 0;
flex-grow:1
}
.home{
flex-grow:1;
max-width:360px
}
.home-flex-wrapper{
display:flex;
flex-direction:row
}
@media screen and (max-width: 600px){
.home-flex-wrapper{
    display:flex;
    flex-direction:column
}
.intro{
    max-width:none;
    padding:4px 0 32px 0;
    flex-grow:none
}
.home{
    flex-grow:1;
    max-width:none
}
}
.page-content{
padding:16px 0;
flex:1 0 auto
}
.page-heading{
font-size:32px
}
.post-list-heading{
font-size:28px
}
.post-list{
display:flex;
flex-direction:column;
margin-left:0;
list-style:none
}
.post-list>li{
margin-bottom:16px
}
.post-meta{
font-weight:600;
font-size:12px;
color:var(--accent-color);
opacity:.75;
margin:-4px 0 0
}
.post-link{
color:var(--text-color-dark) !important;
display:block;
font-size:16px
}
.post-item{
display:flex;
padding:8px 0;
transition:0.2s;
border-radius:4px
}
.post-item-text{
display:block;
margin:0
}
.thumbnail{
padding:0;
border-radius:4px;
width:48px;
height:48px;
margin:0 16px 0 0;
border:1px solid rgba(100,100,100,0.2) inset
}
.post-header{
margin-bottom:16px
}
.social-media-list{
display:table;
margin:0 0 0 -4px;
}
.social-media-list li{
float:left;
margin:0 5px
}
.social-media-list li:first-of-type{
margin-left:0
}
.social-media-list li:last-of-type{
margin-right:8px
}
.social-media-list li a{
display:block;
padding:4px 0 0 4px
}
.social-media-list li .svg-icon{
fill:var(--accent-color);
background-color: var(--overlay-color);
}
.social-media-list li:hover .svg-icon{
fill:var(--accent-color);
background-color: var(--accent-color-light)
}
@media screen and (min-width: 800px){
.one-half{
    width:-webkit-calc(50% - (16px / 2));
    width:calc(50% - (16px / 2))
}
}
.highlight{
background:#fff
}
.highlighter-rouge .highlight{
background:#21244c
}
.highlight .c{
color:#998;
font-style:italic
}
.highlight .err{
color:#a61717;
background-color:#e3d2d2
}
.highlight .k{
font-weight:bold
}
.highlight .o{
font-weight:bold
}
.highlight .cm{
color:#998;
font-style:italic
}
.highlight .cp{
color:#999;
font-weight:bold
}
.highlight .c1{
color:#998;
font-style:italic
}
.highlight .cs{
color:#999;
font-weight:bold;
font-style:italic
}
.highlight .gd{
color:#000;
background-color:#fdd
}
.highlight .gd .x{
color:#000;
background-color:#faa
}
.highlight .ge{
font-style:italic
}
.highlight .gr{
color:#a00
}
.highlight .gh{
color:#999
}
.highlight .gi{
color:#000;
background-color:#dfd
}
.highlight .gi .x{
color:#000;
background-color:#afa
}
.highlight .go{
color:#888
}
.highlight .gp{
color:#555
}
.highlight .gs{
font-weight:bold
}
.highlight .gu{
color:#aaa
}
.highlight .gt{
color:#a00
}
.highlight .kc{
font-weight:bold
}
.highlight .kd{
font-weight:bold
}
.highlight .kp{
font-weight:bold
}
.highlight .kr{
font-weight:bold
}
.highlight .kt{
color:#458;
font-weight:bold
}
.highlight .m{
color:#099
}
.highlight .s{
color:#d14
}
.highlight .na{
color:teal
}
.highlight .nb{
color:#0086B3
}
.highlight .nc{
color:#458;
font-weight:bold
}
.highlight .no{
color:teal
}
.highlight .ni{
color:purple
}
.highlight .ne{
color:#900;
font-weight:bold
}
.highlight .nf{
color:#900;
font-weight:bold
}
.highlight .nn{
color:#555
}
.highlight .nt{
color:navy
}
.highlight .nv{
color:teal
}
.highlight .ow{
font-weight:bold
}
.highlight .w{
color:#bbb
}
.highlight .mf{
color:#099
}
.highlight .mh{
color:#099
}
.highlight .mi{
color:#099
}
.highlight .mo{
color:#099
}
.highlight .sb{
color:#d14
}
.highlight .sc{
color:#d14
}
.highlight .sd{
color:#d14
}
.highlight .s2{
color:#d14
}
.highlight .se{
color:#d14
}
.highlight .sh{
color:#d14
}
.highlight .si{
color:#d14
}
.highlight .sx{
color:#d14
}
.highlight .sr{
color:#009926
}
.highlight .s1{
color:#d14
}
.highlight .ss{
color:#990073
}
.highlight .bp{
color:#999
}
.highlight .vc{
color:teal
}
.highlight .vg{
color:teal
}
.highlight .vi{
color:teal
}
.highlight .il{
color:#099
}
.pell-button{
width:36px;
height:20px;
border:0px;
background:none;
border-right:1px solid #eee;
padding-right:6px;
padding-left:6px;
color:var(--text-color);
font-size:1.15em
}
.pell-button:last-of-type{
border-right:none
}
.pell-actionbar{
background:var(--overlay-color);
border:1px solid #eee;
width:fit-content;
border-radius:4px;
padding:5px 4px 4px 4px;
box-shadow:0px 1px 2px 1px rgba(0,0,0,0.05);
-webkit-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.05);
-moz-box-shadow:0px 1px 2px 1px rgba(0,0,0,0.05)
}
.hidden{
opacity:0;
margin-bottom: -24px;
}
@counter-style red-circle{
system:cyclic;
symbols:"\2B55";
suffix:" "
}
@counter-style green-circle{
system:cyclic;
symbols:"\1F7E2";
suffix:" "
}
li.todo{
list-style-type:red-circle
}
li.todo.done{
list-style-type:green-circle;
text-decoration:line-through;
opacity:.75
}
